/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.entry {
  max-width: 50em;
}

.entry-title {
  font-size: 130%;
  font-weight: bold;
}

.notes-and-content {
  display: flex;
}

#entry_notes {
  margin-right: 10px;
}

.show_notes {
  border: 5px inset rgb(188, 236, 188);
  padding: 3px;
  background: rgb(203, 234, 247);
}
