/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.entry {
  max-width: 50em;
}

.entry-title {
  font-size: 130%;
  font-weight: bold;
}

.notes-and-content {
  display: flex;
}

#entry_notes {
  margin-right: 10px;
}
