/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.entry {
  max-width: 50em;
}

.entry_body {
  padding-left: 20px;
}

.entry-title {
  font-size: 130%;
  font-weight: bold;
}

.notes-and-content {
  display: flex;
}

#entry_notes {
  margin-right: 10px;
}

.show_notes {
  border: 5px inset rgb(211, 255, 211);
  padding: 3px;
  background: rgb(224, 245, 255);
}
